@page "/"
@inherits EmployeeListBase

<h3>Selected Employee count - @EmployeeCount</h3>
@if (Employees == null)
{
    <div class="loader"></div>
}
else
{
    <input id="showFooter" type="checkbox" @bind="showFooter"/>
    <label for="showFooter">Show footer</label>

    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="@employee" ShowFooter="@showFooter" OnEmployeeSelection="EmployeeSelectionChanged" ></DisplayEmployee>
        }
    </div>
}

